@font-face{
    font-family: 'PTSans-Bold';
    src: url('/fonts/PTSans-Bold/PTSans-Bold.eot');
    src: url('/fonts/PTSans-Bold/PTSans-Bold.eot?iefix') format('embedded-opentype'),
    url('/fonts/PTSans-Bold/PTSans-Bold.woff') format('woff'),
    url('/fonts/PTSans-Bold/PTSans-Bold.ttf') format('truetype'),
    url('/fonts/PTSans-Bold/PTSans-Bold.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'PTSans-Regular';
    src: url('/fonts/PTSans-Regular/PTSans-Regular.eot');
    src: url('/fonts/PTSans-Regular/PTSans-Regular.eot?iefix') format('embedded-opentype'),
    url('/fonts/PTSans-Regular/PTSans-Regular.woff') format('woff'),
    url('/fonts/PTSans-Regular/PTSans-Regular.ttf') format('truetype'),
    url('/fonts/PTSans-Regular/PTSans-Regular.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'PTSerif-Italic';
    src: url('/fonts/PTSerif-Italic/PTSerif-Italic.eot');
    src: url('/fonts/PTSerif-Italic/PTSerif-Italic.eot?iefix') format('embedded-opentype'),
    url('/fonts/PTSerif-Italic/PTSerif-Italic.woff') format('woff'),
    url('/fonts/PTSerif-Italic/PTSerif-Italic.ttf') format('truetype'),
    url('/fonts/PTSerif-Italic/PTSerif-Italic.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'PTSerif-Regular';
    src: url('/fonts/PTSerif-Regular/PTSerif-Regular.eot');
    src: url('/fonts/PTSerif-Regular/PTSerif-Regular.eot?iefix') format('embedded-opentype'),
    url('/fonts/PTSerif-Regular/PTSerif-Regular.woff') format('woff'),
    url('/fonts/PTSerif-Regular/PTSerif-Regular.ttf') format('truetype'),
    url('/fonts/PTSerif-Regular/PTSerif-Regular.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('/fonts/icomoon/icomoon.eot?kfv2o6');
    src:  url('/fonts/icomoon/icomoon.eot?kfv2o6#iefix') format('embedded-opentype'),
    url('/fonts/icomoon/icomoon.ttf?kfv2o6') format('truetype'),
    url('/fonts/icomoon/icomoon.woff?kfv2o6') format('woff'),
    url('/fonts/icomoon/icomoon.svg?kfv2o6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}